*{
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: black !important;
}

@font-face {
  font-family: 'Jedi';
  src: url('./fonts/starjedi.eot'); /* IE9 Compat Modes */
  src: url('./fonts/starjedi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/starjedi.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/starjedi.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/starjedi.ttf') format('truetype'),
      url('./fonts/starjedi.svg#starjedi') format('svg');
       font-weight: 500;
       font-style: normal;
       letter-spacing: 5px;
}

.container {
    text-align: center;
    align-items: center;
    background-color: black;
}

.notification {
    background-color: black;
}

.title.is-1 {
  font-family: "Jedi", "Helvetica", "Arial", sans-serif !important;
  color: yellow !important;
}

#intro{
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 30px;
    margin-top: 2rem;
}

#quote{

  font-style: italic;
  margin-top: 1rem;
}

.startBtn,
.resultBtn {
    width: 400px;
    margin: 2.5rem;
    color: black ;
    background-color: yellow !important;
}

.image {
    padding-top: 0px !important;

}

.question-container {
    color: yellow;
}

.raidoBtnBig {
    width: 5em;
    height: 5em;
    margin: 10px;
}

.raidoBtnMid {
    width: 4em;
    height: 4em;
    margin: 10px;
}

.raidoBtnSmall {
    width: 3em;
    height: 3em;
    margin: 10px;
}

.raidoBtnReg {
    width: 2em;
    height: 2em;
    margin: 10px;
}

.startBtn:hover,
.resultBtn:hover {
    transform: scale(1.25);
    transition: 0.3s;
}

.hide {
    display: none;
}

.resultBtn {
    background-color: yellow !important;
}


.resultImage {
    align-items: center;
    text-align: center;
}

.row {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin: 0 0 1rem 0;
}

#resultDescription {
    word-wrap: normal;
}

.media-content {
    border: 1px solid;
    border-color: yellow;
    padding: 10px;
}

.media-content:hover {
    transform: scale(1.015);
    box-shadow: 0 5px 15px yellow;
    transition: box-shadow 0.3s ease-in-out;
}