*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black !important;
}

.container {
    text-align: center;
    align-items: center;
    background-color: black;
}

.notification {
    background-color: black;
}

.title {
    color: white !important;
}

p {
    color: white;
    margin-top: 3rem;
}

.startBtn {
    width: 400px;
    margin: 2.5rem;
    color: black ;
    background-color: yellow !important;
}

.image {
    padding-top: 0px !important;

}

.question-container {
    color: yellow;
}

.raidoBtnBig {
    width: 5em;
    height: 5em;
    margin: 10px;
}

.raidoBtnMid {
    width: 4em;
    height: 4em;
    margin: 10px;
}

.raidoBtnSmall {
    width: 3em;
    height: 3em;
    margin: 10px;
}

.raidoBtnReg {
    width: 2em;
    height: 2em;
    margin: 10px;
}

.radio:hover {
    background-color: yellow;
}

.hide {
    display: none;
}

.resultBtn {
    background-color: yellow !important;
}

.resultBtn:hover{
    transform: scale(1.25);
    transition: 1.15ms;
}